In [13]:
import pandas as pd
import numpy as np

df = pd.read_csv("HR_Analytics.csv")
print(df)

       EmpID  Age AgeGroup Attrition     BusinessTravel  DailyRate  \
0      RM297   18    18-25       Yes      Travel_Rarely        230
1      RM302   18    18-25        No      Travel_Rarely        812
2      RM458   18    18-25       Yes  Travel_Frequently       1306
3      RM728   18    18-25        No         Non-Travel        287
4      RM829   18    18-25       Yes         Non-Travel        247
...      ...  ...      ...       ...                ...        ...
1475   RM412   60      55+        No      Travel_Rarely        422
1476   RM428   60      55+        No  Travel_Frequently       1499
1477   RM537   60      55+        No      Travel_Rarely       1179
1478   RM880   60      55+        No      Travel_Rarely        696
1479  RM1210   60      55+        No      Travel_Rarely        370

                  Department  DistanceFromHome  Education EducationField  ...  \
0     Research & Development                 3          3  Life Sciences  ...
1                      Sales                10          3        Medical  ...
2                      Sales                 5          3      Marketing  ...
3     Research & Development                 5          2  Life Sciences  ...
4     Research & Development                 8          1        Medical  ...
...                      ...               ...        ...            ...  ...
1475  Research & Development                 7          3  Life Sciences  ...
1476                   Sales                28          3      Marketing  ...
1477                   Sales                16          4      Marketing  ...
1478                   Sales                 7          4      Marketing  ...
1479  Research & Development                 1          4        Medical  ...

      RelationshipSatisfaction  StandardHours  StockOptionLevel  \
0                            3             80                 0
1                            1             80                 0
2                            4             80                 0
3                            4             80                 0
4                            4             80                 0
...                        ...            ...               ...
1475                         4             80                 0
1476                         4             80                 0
1477                         4             80                 0
1478                         2             80                 1
1479                         3             80                 1

     TotalWorkingYears  TrainingTimesLastYear  WorkLifeBalance  \
0                    0                      2                3
1                    0                      2                3
2                    0                      3                3
3                    0                      2                3
4                    0                      0                3
...                ...                    ...              ...
1475                33                      5                1
1476                22                      5                4
1477                10                      1                3
1478                12                      3                3
1479                19                      2                4

      YearsAtCompany YearsInCurrentRole  YearsSinceLastPromotion  \
0                  0                  0                        0
1                  0                  0                        0
2                  0                  0                        0
3                  0                  0                        0
4                  0                  0                        0
...              ...                ...                      ...
1475              29                  8                       11
1476              18                 13                       13
1477               2                  2                        2
1478              11                  7                        1
1479               1                  0                        0

     YearsWithCurrManager
0                     0.0
1                     0.0
2                     0.0
3                     0.0
4                     0.0
...                   ...
1475                 10.0
1476                 11.0
1477                  2.0
1478                  9.0
1479                  0.0

[1480 rows x 38 columns]

In [18]:
print(df.head(10))

    EmpID  Age AgeGroup Attrition     BusinessTravel  DailyRate  \
0   RM297   18    18-25       Yes      Travel_Rarely        230
1   RM302   18    18-25        No      Travel_Rarely        812
2   RM458   18    18-25       Yes  Travel_Frequently       1306
3   RM728   18    18-25        No         Non-Travel        287
4   RM829   18    18-25       Yes         Non-Travel        247
5   RM973   18    18-25        No         Non-Travel       1124
6  RM1154   18    18-25       Yes  Travel_Frequently        544
7  RM1312   18    18-25        No         Non-Travel       1431
8   RM128   19    18-25       Yes      Travel_Rarely        528
9   RM150   19    18-25        No      Travel_Rarely       1181

               Department  DistanceFromHome  Education EducationField  ...  \
0  Research & Development                 3          3  Life Sciences  ...
1                   Sales                10          3        Medical  ...
2                   Sales                 5          3      Marketing  ...
3  Research & Development                 5          2  Life Sciences  ...
4  Research & Development                 8          1        Medical  ...
5  Research & Development                 1          3  Life Sciences  ...
6                   Sales                 3          2        Medical  ...
7  Research & Development                14          3        Medical  ...
8                   Sales                22          1      Marketing  ...
9  Research & Development                 3          1        Medical  ...

   RelationshipSatisfaction  StandardHours  StockOptionLevel  \
0                         3             80                 0
1                         1             80                 0
2                         4             80                 0
3                         4             80                 0
4                         4             80                 0
5                         3             80                 0
6                         3             80                 0
7                         3             80                 0
8                         4             80                 0
9                         4             80                 0

  TotalWorkingYears  TrainingTimesLastYear  WorkLifeBalance  YearsAtCompany  \
0                 0                      2                3               0
1                 0                      2                3               0
2                 0                      3                3               0
3                 0                      2                3               0
4                 0                      0                3               0
5                 0                      5                4               0
6                 0                      2                4               0
7                 0                      4                1               0
8                 0                      2                2               0
9                 1                      3                3               1

  YearsInCurrentRole  YearsSinceLastPromotion YearsWithCurrManager
0                  0                        0                  0.0
1                  0                        0                  0.0
2                  0                        0                  0.0
3                  0                        0                  0.0
4                  0                        0                  0.0
5                  0                        0                  0.0
6                  0                        0                  0.0
7                  0                        0                  0.0
8                  0                        0                  0.0
9                  0                        0                  0.0

[10 rows x 38 columns]

In [16]:
print(df.tail(10))

       EmpID  Age AgeGroup Attrition     BusinessTravel  DailyRate  \
1470   RM233   59      55+        No      Travel_Rarely        818
1471   RM744   59      55+        No      Travel_Rarely        715
1472   RM759   59      55+        No      Travel_Rarely       1089
1473   RM898   59      55+        No      Travel_Rarely        326
1474   RM920   59      55+        No      Travel_Rarely       1429
1475   RM412   60      55+        No      Travel_Rarely        422
1476   RM428   60      55+        No  Travel_Frequently       1499
1477   RM537   60      55+        No      Travel_Rarely       1179
1478   RM880   60      55+        No      Travel_Rarely        696
1479  RM1210   60      55+        No      Travel_Rarely        370

                  Department  DistanceFromHome  Education    EducationField  \
1470         Human Resources                 6          2           Medical
1471  Research & Development                 2          3     Life Sciences
1472                   Sales                 1          2  Technical Degree
1473                   Sales                 3          3     Life Sciences
1474  Research & Development                18          4           Medical
1475  Research & Development                 7          3     Life Sciences
1476                   Sales                28          3         Marketing
1477                   Sales                16          4         Marketing
1478                   Sales                 7          4         Marketing
1479  Research & Development                 1          4           Medical

      ...  RelationshipSatisfaction  StandardHours  StockOptionLevel  \
1470  ...                         4             80                 0
1471  ...                         1             80                 0
1472  ...                         3             80                 1
1473  ...                         4             80                 0
1474  ...                         4             80                 0
1475  ...                         4             80                 0
1476  ...                         4             80                 0
1477  ...                         4             80                 0
1478  ...                         2             80                 1
1479  ...                         3             80                 1

     TotalWorkingYears  TrainingTimesLastYear  WorkLifeBalance  \
1470                 7                      2                2
1471                30                      4                3
1472                14                      1                1
1473                13                      2                3
1474                25                      6                2
1475                33                      5                1
1476                22                      5                4
1477                10                      1                3
1478                12                      3                3
1479                19                      2                4

      YearsAtCompany YearsInCurrentRole  YearsSinceLastPromotion  \
1470               2                  2                        2
1471               5                  3                        4
1472               6                  4                        0
1473               6                  1                        0
1474               9                  7                        5
1475              29                  8                       11
1476              18                 13                       13
1477               2                  2                        2
1478              11                  7                        1
1479               1                  0                        0

     YearsWithCurrManager
1470                  2.0
1471                  3.0
1472                  4.0
1473                  5.0
1474                  4.0
1475                 10.0
1476                 11.0
1477                  2.0
1478                  9.0
1479                  0.0

[10 rows x 38 columns]

In [5]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1480 entries, 0 to 1479
Data columns (total 38 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   EmpID                     1480 non-null   object
 1   Age                       1480 non-null   int64
 2   AgeGroup                  1480 non-null   object
 3   Attrition                 1480 non-null   object
 4   BusinessTravel            1480 non-null   object
 5   DailyRate                 1480 non-null   int64
 6   Department                1480 non-null   object
 7   DistanceFromHome          1480 non-null   int64
 8   Education                 1480 non-null   int64
 9   EducationField            1480 non-null   object
 10  EmployeeCount             1480 non-null   int64
 11  EmployeeNumber            1480 non-null   int64
 12  EnvironmentSatisfaction   1480 non-null   int64
 13  Gender                    1480 non-null   object
 14  HourlyRate                1480 non-null   int64
 15  JobInvolvement            1480 non-null   int64
 16  JobLevel                  1480 non-null   int64
 17  JobRole                   1480 non-null   object
 18  JobSatisfaction           1480 non-null   int64
 19  MaritalStatus             1480 non-null   object
 20  MonthlyIncome             1480 non-null   int64
 21  SalarySlab                1480 non-null   object
 22  MonthlyRate               1480 non-null   int64
 23  NumCompaniesWorked        1480 non-null   int64
 24  Over18                    1480 non-null   object
 25  OverTime                  1480 non-null   object
 26  PercentSalaryHike         1480 non-null   int64
 27  PerformanceRating         1480 non-null   int64
 28  RelationshipSatisfaction  1480 non-null   int64
 29  StandardHours             1480 non-null   int64
 30  StockOptionLevel          1480 non-null   int64
 31  TotalWorkingYears         1480 non-null   int64
 32  TrainingTimesLastYear     1480 non-null   int64
 33  WorkLifeBalance           1480 non-null   int64
 34  YearsAtCompany            1480 non-null   int64
 35  YearsInCurrentRole        1480 non-null   int64
 36  YearsSinceLastPromotion   1480 non-null   int64
 37  YearsWithCurrManager      1423 non-null   float64
dtypes: float64(1), int64(25), object(12)
memory usage: 370.1+ KB
None

In [7]:
print(df.isnull().sum())

EmpID                        0
Age                          0
AgeGroup                     0
Attrition                    0
BusinessTravel               0
DailyRate                    0
Department                   0
DistanceFromHome             0
Education                    0
EducationField               0
EmployeeCount                0
EmployeeNumber               0
EnvironmentSatisfaction      0
Gender                       0
HourlyRate                   0
JobInvolvement               0
JobLevel                     0
JobRole                      0
JobSatisfaction              0
MaritalStatus                0
MonthlyIncome                0
SalarySlab                   0
MonthlyRate                  0
NumCompaniesWorked           0
Over18                       0
OverTime                     0
PercentSalaryHike            0
PerformanceRating            0
RelationshipSatisfaction     0
StandardHours                0
StockOptionLevel             0
TotalWorkingYears            0
TrainingTimesLastYear        0
WorkLifeBalance              0
YearsAtCompany               0
YearsInCurrentRole           0
YearsSinceLastPromotion      0
YearsWithCurrManager        57
dtype: int64

In [9]:
print(df.duplicated())

0       False
1       False
2       False
3       False
4       False
        ...
1475    False
1476    False
1477    False
1478    False
1479    False
Length: 1480, dtype: bool

In [10]:
import os
os.getcwd()
os.listdir()

['HR_Analytics.csv', 'Hr_data.ipynb']

In [15]:
print(df.shape)

(1480, 38)