In [2]:
import pandas as pd
import numpy as np
import os

os.getcwd()
df = pd.read_csv('Students Social Media Addiction.csv')
print(df.head(10))

   Student_ID  Age  Gender Academic_Level      Country  Avg_Daily_Usage_Hours  \
0           1   19  Female  Undergraduate   Bangladesh                    5.2
1           2   22    Male       Graduate        India                    2.1
2           3   20  Female  Undergraduate          USA                    6.0
3           4   18    Male    High School           UK                    3.0
4           5   21    Male       Graduate       Canada                    4.5
5           6   19  Female  Undergraduate    Australia                    7.2
6           7   23    Male       Graduate      Germany                    1.5
7           8   20  Female  Undergraduate       Brazil                    5.8
8           9   18    Male    High School        Japan                    4.0
9          10   21  Female       Graduate  South Korea                    3.3

  Most_Used_Platform Affects_Academic_Performance  Sleep_Hours_Per_Night  \
0          Instagram                          Yes                    6.5
1            Twitter                           No                    7.5
2             TikTok                          Yes                    5.0
3            YouTube                           No                    7.0
4           Facebook                          Yes                    6.0
5          Instagram                          Yes                    4.5
6           LinkedIn                           No                    8.0
7           Snapchat                          Yes                    6.0
8             TikTok                           No                    6.5
9          Instagram                           No                    7.0

   Mental_Health_Score Relationship_Status  Conflicts_Over_Social_Media  \
0                    6     In Relationship                            3
1                    8              Single                            0
2                    5         Complicated                            4
3                    7              Single                            1
4                    6     In Relationship                            2
5                    4         Complicated                            5
6                    9              Single                            0
7                    6     In Relationship                            2
8                    7              Single                            1
9                    7     In Relationship                            1

   Addicted_Score
0               8
1               3
2               9
3               4
4               7
5               9
6               2
7               8
8               5
9               4

In [4]:
# clean column names
df.columns = df.columns.str.strip().str.lower().str.replace(" ","_")
df.columns

Index(['student_id', 'age', 'gender', 'academic_level', 'country',
       'avg_daily_usage_hours', 'most_used_platform',
       'affects_academic_performance', 'sleep_hours_per_night',
       'mental_health_score', 'relationship_status',
       'conflicts_over_social_media', 'addicted_score'],
      dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 705 entries, 0 to 704
Data columns (total 13 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   student_id                    705 non-null    int64
 1   age                           705 non-null    int64
 2   gender                        705 non-null    object
 3   academic_level                705 non-null    object
 4   country                       705 non-null    object
 5   avg_daily_usage_hours         705 non-null    float64
 6   most_used_platform            705 non-null    object
 7   affects_academic_performance  705 non-null    object
 8   sleep_hours_per_night         705 non-null    float64
 9   mental_health_score           705 non-null    int64
 10  relationship_status           705 non-null    object
 11  conflicts_over_social_media   705 non-null    int64
 12  addicted_score                705 non-null    int64
dtypes: float64(2), int64(5), object(6)
memory usage: 71.7+ KB

In [6]:
# remove white space from object data types values
for i in df.select_dtypes(include=["object"]).columns:
    df[i] = df[i].str.strip()

df

,student_id,age,gender,academic_level,country,avg_daily_usage_hours,most_used_platform,affects_academic_performance,sleep_hours_per_night,mental_health_score,relationship_status,conflicts_over_social_media,addicted_score
0,1,19,Female,Undergraduate,Bangladesh,5.2,Instagram,Yes,6.5,6,In Relationship,3,8
1,2,22,Male,Graduate,India,2.1,Twitter,No,7.5,8,Single,0,3
2,3,20,Female,Undergraduate,USA,6.0,TikTok,Yes,5.0,5,Complicated,4,9
3,4,18,Male,High School,UK,3.0,YouTube,No,7.0,7,Single,1,4
4,5,21,Male,Graduate,Canada,4.5,Facebook,Yes,6.0,6,In Relationship,2,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...
700,701,20,Female,Undergraduate,Italy,4.7,TikTok,No,7.2,7,In Relationship,2,5
701,702,23,Male,Graduate,Russia,6.8,Instagram,Yes,5.9,4,Single,5,9
702,703,21,Female,Undergraduate,China,5.6,WeChat,Yes,6.7,6,In Relationship,3,7
703,704,24,Male,Graduate,Japan,4.3,Twitter,No,7.5,8,Single,2,4
704,705,19,Female,Undergraduate,Poland,6.2,Facebook,Yes,6.3,5,Single,4,8

In [15]:
# normalize N/A values

na_values = ["n/a", "na", "--", "none", "null", "nil", " ","nan"]

for i in df.columns:
    if df[i].dtype == "object":
        df[i] = df[i].replace(to_replace=na_values , value=np.nan)
df

,student_id,age,gender,academic_level,country,avg_daily_usage_hours,most_used_platform,affects_academic_performance,sleep_hours_per_night,mental_health_score,relationship_status,conflicts_over_social_media,addicted_score
0,1,19,Female,Undergraduate,Bangladesh,5.2,Instagram,Yes,6.5,6,In Relationship,3,8
1,2,22,Male,Graduate,India,2.1,Twitter,No,7.5,8,Single,0,3
2,3,20,Female,Undergraduate,USA,6.0,TikTok,Yes,5.0,5,Complicated,4,9
3,4,18,Male,High School,UK,3.0,YouTube,No,7.0,7,Single,1,4
4,5,21,Male,Graduate,Canada,4.5,Facebook,Yes,6.0,6,In Relationship,2,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...
700,701,20,Female,Undergraduate,Italy,4.7,TikTok,No,7.2,7,In Relationship,2,5
701,702,23,Male,Graduate,Russia,6.8,Instagram,Yes,5.9,4,Single,5,9
702,703,21,Female,Undergraduate,China,5.6,WeChat,Yes,6.7,6,In Relationship,3,7
703,704,24,Male,Graduate,Japan,4.3,Twitter,No,7.5,8,Single,2,4
704,705,19,Female,Undergraduate,Poland,6.2,Facebook,Yes,6.3,5,Single,4,8

In [16]:
# handle missing value

for col in df.columns:
    if pd.api.types.is_numeric_dtype(df[col]):
        df[col] = df[col].fillna(df[col].median())
    elif pd.api.types.is_datetime64_any_dtype(df[col]):
       df[col] = df[col].fillna(df[col].mode())
    else:
       df[col] = df[col].fillna(df[col].ffill())
       df[col] =  df[col].fillna(df[col].bfill())

df

,student_id,age,gender,academic_level,country,avg_daily_usage_hours,most_used_platform,affects_academic_performance,sleep_hours_per_night,mental_health_score,relationship_status,conflicts_over_social_media,addicted_score
0,1,19,Female,Undergraduate,Bangladesh,5.2,Instagram,Yes,6.5,6,In Relationship,3,8
1,2,22,Male,Graduate,India,2.1,Twitter,No,7.5,8,Single,0,3
2,3,20,Female,Undergraduate,USA,6.0,TikTok,Yes,5.0,5,Complicated,4,9
3,4,18,Male,High School,UK,3.0,YouTube,No,7.0,7,Single,1,4
4,5,21,Male,Graduate,Canada,4.5,Facebook,Yes,6.0,6,In Relationship,2,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...
700,701,20,Female,Undergraduate,Italy,4.7,TikTok,No,7.2,7,In Relationship,2,5
701,702,23,Male,Graduate,Russia,6.8,Instagram,Yes,5.9,4,Single,5,9
702,703,21,Female,Undergraduate,China,5.6,WeChat,Yes,6.7,6,In Relationship,3,7
703,704,24,Male,Graduate,Japan,4.3,Twitter,No,7.5,8,Single,2,4
704,705,19,Female,Undergraduate,Poland,6.2,Facebook,Yes,6.3,5,Single,4,8

In [14]:
# handle duplicates
len(df)
df.drop_duplicates()
len(df)

705

In [17]:
df.to_csv("clean_data.csv")