In [1]:
import pandas as pd

data = pd.read_csv("Daily_Global_Stock_Market_Indicators.csv")
print(data)

             Date        Index_Name    Country      Open      High       Low  \
0      2020-01-01           S&P 500        USA  15607.06  16277.38  15427.47
1      2020-01-01  NASDAQ Composite        USA   7083.79   7343.64   6461.54
2      2020-01-01         Dow Jones        USA  26384.65  26601.25  25659.50
3      2020-01-01          FTSE 100         UK   8091.17   8182.45   7617.15
4      2020-01-01        Nikkei 225      Japan   1899.43   2044.17   1885.43
...           ...               ...        ...       ...       ...       ...
18265  2024-12-31         Hang Seng  Hong Kong   1718.84   2027.75   1639.67
18266  2024-12-31               DAX    Germany   1513.68   1933.41   1485.06
18267  2024-12-31            CAC 40     France   8944.27   9018.54   8608.51
18268  2024-12-31     SSE Composite      China  14674.14  15131.30  14415.31
18269  2024-12-31           KSE 100   Pakistan  11151.86  11574.65  10995.48

          Close    Volume  Daily_Change_Percent
0      16057.78  36788921                  2.89
1       6641.87  22249687                 -6.24
2      25941.06   4344769                 -1.68
3       7774.58  44250411                 -3.91
4       1924.21  22498555                  1.30
...         ...       ...                   ...
18265   2017.82  47658304                 17.39
18266   1921.63  13456944                 26.95
18267   8737.25  36520735                 -2.31
18268  14888.37  43850831                  1.46
18269  11387.51  15879687                  2.11

[18270 rows x 9 columns]

In [ ]:
# change column names 
data.columns = data.columns.str.strip().str.lower().str.replace(' ', '_')
print(data.columns)

Index(['date', 'index_name', 'country', 'open', 'high', 'low', 'close',
       'volume', 'daily_change_percent'],
      dtype='object')

In [9]:
# remove white spaces from all 
for i in data.select_dtypes(include=["object"]).columns:
    data[i] = data[i].astype(str).str.strip()

data

,date,index_name,country,open,high,low,close,volume,daily_change_percent
0,2020-01-01,S&P 500,USA,15607.06,16277.38,15427.47,16057.78,36788921,2.89
1,2020-01-01,NASDAQ Composite,USA,7083.79,7343.64,6461.54,6641.87,22249687,-6.24
2,2020-01-01,Dow Jones,USA,26384.65,26601.25,25659.50,25941.06,4344769,-1.68
3,2020-01-01,FTSE 100,UK,8091.17,8182.45,7617.15,7774.58,44250411,-3.91
4,2020-01-01,Nikkei 225,Japan,1899.43,2044.17,1885.43,1924.21,22498555,1.30
...,...,...,...,...,...,...,...,...,...
18265,2024-12-31,Hang Seng,Hong Kong,1718.84,2027.75,1639.67,2017.82,47658304,17.39
18266,2024-12-31,DAX,Germany,1513.68,1933.41,1485.06,1921.63,13456944,26.95
18267,2024-12-31,CAC 40,France,8944.27,9018.54,8608.51,8737.25,36520735,-2.31
18268,2024-12-31,SSE Composite,China,14674.14,15131.30,14415.31,14888.37,43850831,1.46
18269,2024-12-31,KSE 100,Pakistan,11151.86,11574.65,10995.48,11387.51,15879687,2.11

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18270 entries, 0 to 18269
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   date                  18270 non-null  datetime64[ns]
 1   index_name            18270 non-null  object
 2   country               18270 non-null  object
 3   open                  18270 non-null  float64
 4   high                  18270 non-null  float64
 5   low                   18270 non-null  float64
 6   close                 18270 non-null  float64
 7   volume                18270 non-null  int64
 8   daily_change_percent  18270 non-null  float64
dtypes: datetime64[ns](1), float64(5), int64(1), object(2)
memory usage: 1.3+ MB

In [13]:
# change date column data type object to date format
data['date'] = pd.to_datetime(data['date'])
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18270 entries, 0 to 18269
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   date                  18270 non-null  datetime64[ns]
 1   index_name            18270 non-null  object
 2   country               18270 non-null  object
 3   open                  18270 non-null  float64
 4   high                  18270 non-null  float64
 5   low                   18270 non-null  float64
 6   close                 18270 non-null  float64
 7   volume                18270 non-null  int64
 8   daily_change_percent  18270 non-null  float64
dtypes: datetime64[ns](1), float64(5), int64(1), object(2)
memory usage: 1.3+ MB

In [14]:
# hanfling missing value
# if numeric valur then fill it with median and if categorical data then fill it with mode 

for col in data.columns:
    if pd.api.types.is_numeric_dtype(data[col]):
        data[col].fillna(data[col].median())
    elif pd.api.types.is_datetime64_any_dtype(data[col]):
        data[col].fillna(data[col].mode())
    elif pd.api.types.is_object_dtype(data[col]):
        data[col].fillna(data[col].mode())
    else:
        data[col].fillna(data[col].ffill())
        data[col].fillna(data[col].bfill())

data

,date,index_name,country,open,high,low,close,volume,daily_change_percent
0,2020-01-01,S&P 500,USA,15607.06,16277.38,15427.47,16057.78,36788921,2.89
1,2020-01-01,NASDAQ Composite,USA,7083.79,7343.64,6461.54,6641.87,22249687,-6.24
2,2020-01-01,Dow Jones,USA,26384.65,26601.25,25659.50,25941.06,4344769,-1.68
3,2020-01-01,FTSE 100,UK,8091.17,8182.45,7617.15,7774.58,44250411,-3.91
4,2020-01-01,Nikkei 225,Japan,1899.43,2044.17,1885.43,1924.21,22498555,1.30
...,...,...,...,...,...,...,...,...,...
18265,2024-12-31,Hang Seng,Hong Kong,1718.84,2027.75,1639.67,2017.82,47658304,17.39
18266,2024-12-31,DAX,Germany,1513.68,1933.41,1485.06,1921.63,13456944,26.95
18267,2024-12-31,CAC 40,France,8944.27,9018.54,8608.51,8737.25,36520735,-2.31
18268,2024-12-31,SSE Composite,China,14674.14,15131.30,14415.31,14888.37,43850831,1.46
18269,2024-12-31,KSE 100,Pakistan,11151.86,11574.65,10995.48,11387.51,15879687,2.11

In [17]:
# remove duplicates
len(data)
data.drop_duplicates()
len(data)

18270

In [33]:
# add new column year, month, day
data['year'] = data['date'].dt.year
data['month'] = data['date'].dt.month
data['day'] = data['date'].dt.day
data

,date,index_name,country,open,high,low,close,volume,daily_change_percent,year,month,day,weekday
0,2020-01-01,S&P 500,USA,15607.06,16277.38,15427.47,16057.78,36788921,2.89,2020,1,1,2
1,2020-01-01,NASDAQ Composite,USA,7083.79,7343.64,6461.54,6641.87,22249687,-6.24,2020,1,1,2
2,2020-01-01,Dow Jones,USA,26384.65,26601.25,25659.50,25941.06,4344769,-1.68,2020,1,1,2
3,2020-01-01,FTSE 100,UK,8091.17,8182.45,7617.15,7774.58,44250411,-3.91,2020,1,1,2
4,2020-01-01,Nikkei 225,Japan,1899.43,2044.17,1885.43,1924.21,22498555,1.30,2020,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18265,2024-12-31,Hang Seng,Hong Kong,1718.84,2027.75,1639.67,2017.82,47658304,17.39,2024,12,31,1
18266,2024-12-31,DAX,Germany,1513.68,1933.41,1485.06,1921.63,13456944,26.95,2024,12,31,1
18267,2024-12-31,CAC 40,France,8944.27,9018.54,8608.51,8737.25,36520735,-2.31,2024,12,31,1
18268,2024-12-31,SSE Composite,China,14674.14,15131.30,14415.31,14888.37,43850831,1.46,2024,12,31,1
18269,2024-12-31,KSE 100,Pakistan,11151.86,11574.65,10995.48,11387.51,15879687,2.11,2024,12,31,1

In [34]:
# remove columns not required for analysis
data.drop(columns=["weekday"])

,date,index_name,country,open,high,low,close,volume,daily_change_percent,year,month,day
0,2020-01-01,S&P 500,USA,15607.06,16277.38,15427.47,16057.78,36788921,2.89,2020,1,1
1,2020-01-01,NASDAQ Composite,USA,7083.79,7343.64,6461.54,6641.87,22249687,-6.24,2020,1,1
2,2020-01-01,Dow Jones,USA,26384.65,26601.25,25659.50,25941.06,4344769,-1.68,2020,1,1
3,2020-01-01,FTSE 100,UK,8091.17,8182.45,7617.15,7774.58,44250411,-3.91,2020,1,1
4,2020-01-01,Nikkei 225,Japan,1899.43,2044.17,1885.43,1924.21,22498555,1.30,2020,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
18265,2024-12-31,Hang Seng,Hong Kong,1718.84,2027.75,1639.67,2017.82,47658304,17.39,2024,12,31
18266,2024-12-31,DAX,Germany,1513.68,1933.41,1485.06,1921.63,13456944,26.95,2024,12,31
18267,2024-12-31,CAC 40,France,8944.27,9018.54,8608.51,8737.25,36520735,-2.31,2024,12,31
18268,2024-12-31,SSE Composite,China,14674.14,15131.30,14415.31,14888.37,43850831,1.46,2024,12,31
18269,2024-12-31,KSE 100,Pakistan,11151.86,11574.65,10995.48,11387.51,15879687,2.11,2024,12,31

In [35]:
# save cleaned data to new csv file
data.to_csv("CleanData_.csv")